* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #217544;
  margin-bottom: 100px; /* Ajuste para dejar espacio para el footer */
}

/* Estilos para el encabezado */
.header-container {
  background-color: #217544;
  color: #faf9af;
  text-align: center;
  padding: 15px;
}

/* Estilos para la barra de navegación */
nav {
  background-color: #faf9af;
  color: #000000;
  padding: 8px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-left: 20px;
  cursor: pointer;
}

nav a {
  color: #000000;
  text-decoration: none; /* Eliminar el subrayado */
}

/* Estilos para el hover de las etiquetas li */
nav li:hover a {
  color: #73c9a6;
  font-size: 1.01em; /* Incrementar el tamaño del texto */
}

main {
  padding: 20px;
}

.reserves-info {
  background-color: #f1f1f1; /* Lavanda claro */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reserves-info h2 {
  margin-bottom: 10px;
}

.reserves-info p {
  margin-bottom: 10px;
}

.reserves-info h3 {
  font-size: 16px;
  color: #73c9a6; /* Verde claro */
}
